body{
    margin: 0;
    padding: 0;
}
.all{
    flex-wrap: wrap;
    display: flex;
}
.nav{
    display: flex;
    flex: 20%;
    height: 100vh;
    background-color: lightblue;
}
.main{
    display: flex;
    flex: 80%;    
    height: 100vh;
    flex-direction: column;
}
.header{
    display: flex;
    flex: 1;
    height: 20vh;
    background-color: lightcoral;
}
.article{
    display: flex;
    flex: 4;
    min-width: 100%;
    height: 60vh;
    background-color: lightgreen;
}
.footer{
    flex: 1;
    height: 20vh;
    background-color: lightslategray;
}